<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<div th:replace="base :: navbar"></div>

<div th:each="car:${cars}">
    <div th:if="${car.photo} != null">
        <div class="card" style="max-width: 18rem;">
            <img th:src="${car.photo}" width="400">
            <div class="card-body">
                <h5 class="card-title" th:inline="text">[[${car.brand}]] [[${car.model}]]</h5>
                <ul>
                    <li th:inline="text">Brand: [[${car.brand}]]</li>
                    <li th:inline="text">Model: [[${car.model}]]</li>
                    <li th:inline="text">Color: [[${car.color}]]</li>
                </ul>
            </div>
        </div>
    </div>

    <div th:unless="${car.photo} != null">
        <h1>No Car is Listed!</h1>
    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>